.dockercontainer {
}

.list {
  background-color: hsl(0, 0%, 85%);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-info {
  color: hsl(29, 100%, 50%);
  font-family: sans-serif;
  font-kerning: normal;
  font-size: 1.2em;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  align-content: center;
  text-align: center;
  grid-area: 1 / 8 / 1 / 1;
  display: grid;
  gap: 10px;
  padding-right: 1em;
}
.cmdbutton {
  // border: solid black 1px;
  grid-area: 4 / 1 / 2 / 8;
  padding-right: 1em;
  padding-left: 0em;
  display: flex;
  justify-content: center;
  gap: calc(1em + 5%);

  button {
    min-width: 2.5em;
    width: 3em;
    height: 3em;
    border: none;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  button:active {
    transform: translateY(2px);
    filter: invert(77%) sepia(75%) saturate(5665%) hue-rotate(358deg)
      brightness(99%) contrast(103%);
  }

  :nth-child(2) {
    color: red;
  }
  :nth-child(3) {
    color: red;
  }
  :nth-child(4) {
    color: red;
  }
}

.dropdown {
  grid-area: 4 / 1 / 7 / 8;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  // height:40px;
  button {
    flex-basis: calc(50% - 1em);
    height: 2em;
  }
}

.bargraph {
  display: block;
  width: 100px;
}

.chartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  .bargraph {
    width: 100%;
  }
}
