.list {
    width: 100%;
    height: 100%;
display: grid;
grid-template-columns: repeat(13, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.container-info { grid-area: 1 / 1 / 2 / 5 }
.cmdbutton { 
    grid-area: 1 / 3 / 2 / 7;
    display:flex;
    justify-content: space-between;
    gap:10px;
    button{
        width:120px;
        height:20px
    }
    
}
.dropdown { 
    grid-area: 3 / 1 / 6 / 10; 
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    // height:40px;
    button{
        flex-basis:calc(50% - 40px);
        height: 20px;
    }
}
