.lineGraph {
  display: flex;
  width: 100%;
  // border: solid 1px black;
}

.header-linegraph {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 300;
}
